<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
</head>

<body>
  <%- include('../partials/header.ejs') %>
    <h1>Edit Profile</h1>
<form action="/profile/edit" method="POST">
  <div>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" value="<%= user.username %>" required>
  </div>

  <div>
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" value="<%= user.email %>" required>
  </div>

  <div>
    <label for="bio">Bio:</label>
    <textarea id="bio" name="bio"><%= user.bio %></textarea>
  </div>

  <div>
    <label for="social_links">Social Links:</label>
    <input type="text" id="social_links" name="social_links" value="<%= user.social_links %>">
  </div>

  <% if (user.role === 'dj') { %>
    <div>
        <label for="experience">Experience:</label>
        <textarea id="experience" name="experience"><%= user.experience %></textarea>
    </div>

    <div>
        <label for="sampleMixes">Sample Mixes (comma-separated URLs):</label>
        <input type="text" id="sampleMixes" name="sampleMixes" value="<%= user.sampleMixes ? user.sampleMixes.join(', ') : '' %>">
    </div>
<% } %>

  <button type="submit">Save Changes</button>
</form>
<%- include('../partials/footer.ejs') %>
</body>
</html>