<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My DashBoard</title>    
</head>
<body>
    <%- include('../partials/header.ejs') %>  
   <h1>Welcome <%= user.username %></h1>
<h2>Your Reviews</h2>
<ul>
  <% if (user.reviews.length > 0) { %>
    <% user.reviews.forEach(function(review) { %>
      <li><strong><%= review.author.username %></strong>: <%= review.content %> - <%= review.rating %> stars</li>
    <% }) %>
  <% } else { %>
    <li>No reviews yet</li>
  <% } %>
</ul>
    
    <%- include('../partials/footer.ejs') %> 
</body>
</html>



